@font-face {
  font-family: "Annie Use Your Telescope";
  src: url(../fonts/AnnieUseYourTelescope-Regular.ttf);
  font-display: swap;
}

@font-face {
  font-family: "Shirokuma";
  src: url(../fonts/Shirokuma-Regular.otf);
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Annie Use Your Telescope", cursive;
  font-size: 24px;
  background-color: #fff;
}

/* header */

header {
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 36px;
}

/* main */

main {
  margin-bottom: 72px;
}

/* main input */

.input {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: clamp(240px, 60%, 600px);
  margin: 0 auto;
}

.input-range {
  -webkit-appearance: none;
  margin: 20px auto;
  height: 2px;
  width: 100%;
  border-radius: 4px;
  background-color: #000;
}

.input-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  overflow: visible;
  cursor: pointer;
}

.input-range.red::-webkit-slider-thumb {
  background-color: red;
}

.input-range.green::-webkit-slider-thumb {
  background-color: green;
}

.input-range.blue::-webkit-slider-thumb {
  background-color: blue;
}

.input-range::-moz-range-thumb {
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  overflow: visible;
  cursor: pointer;
}

.input-range.red::-moz-range-thumb {
  background-color: red;
}

.input-range.green::-moz-range-thumb {
  background-color: green;
}

.input-range.blue::-moz-range-thumb {
  background-color: blue;
}

.input-range::-moz-focus-outer {
  /* Remove dotted outline from range input element focused in Firefox */
  border: 0;
}

/* main output */

.output {
  margin: 12px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #fff;
}

#hexCode {
  font-size: 48px;
}

#colorName {
  font-size: 32px;
  font-family: 'Shirokuma';
}

/* main operation */

.operation {
  display: flex;
  justify-content: center;
  max-width: 300px;
  margin: 0 auto;
}

.copy, .reset, .lucky-wheel {
  padding: 8px 16px;
}

wired-button {
  display: flex;
  height: 48px;
  width: 48px;
  justify-content: center;
  align-items: center;
}

/* footer */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 36px;
  position: fixed;
  bottom: 0px;
  font-size: 16px;
  background-color: #fff;
}